# MongoDB Atlas connection string
MONGO_URI=

# Email settings
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD= 
MAIL_DEFAULT_SENDER=your-email@gmail.com

# Security
SECRET_KEY=your-very-secret-key-change-me
JWT_SECRET_KEY=your-jwt-secret-key-change-me

# CORS Setting
CORS_ORIGINS=http://localhost:5173